*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 2rem;
}

.slider-heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding-bottom: 2rem;
}

.slider-sub-heading {
  font-size: 2rem;
  color: #f7f7f7;
}

.slide.active {
  transform: translateX(0%);
}

.section {
  width: 100%;
  height: 100vh;
}

.slider {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 4rem;
  text-align: center;

  position: absolute;

  transform: translateX(100%);
  z-index: -1;
}

.slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.535);
  position: absolute;
  z-index: -1;
}

.slide.top-slide {
  z-index: 2;
  transition: transform 0.3s;
}

.slide-1 {
  background-image: url("./img/image1.jpg");
}
.slide-2 {
  background-image: url("./img/image2.jpg");
}
.slide-3 {
  background-image: url("./img/image3.jpg");
}
.slide-4 {
  background-image: url("./img/image4.jpg");
}

.button {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1;
  color: #777;
  background-color: #ddd;

  position: absolute;
  right: 4rem;
  bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 5;
}

.btn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
}

.text-slide {
  animation: textSlide 0.3s .3s;
}

@keyframes textSlide {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 5;

  display: flex;
}

.dots .dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: rgb(175, 175, 175);

  margin: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  width: 4rem;

  background-color: #fff;
}

.dots .dot:hover {
  background-color: #fff;
}
